body {
  background: url("https://images.unsplash.com/photo-1529251333259-d36cccaf22ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  background-color: rgba(0, 0, 0, 0.616);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
}

form {
  background-color: white;
  border-radius: 10px;
  margin: 3rem auto;
  width: 500px;
  max-width: 80%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}
form > div {
  display: flex;
}
.title {
  padding-bottom: 2rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.input-group > label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.submit-btn {
  width: 10rem;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background: #009879;
  margin: 1.2rem 0;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.dialog-box {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  grid-gap: 1rem;
}
.dialog-box > input,
.dialog-box > select {
  padding: 0.5rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.dialog-box > input:focus,
.dialog-box > select:focus {
  outline: none;
}
.hide {
  display: none;
}

.input-group-result {
  background-color: white;
  border-radius: 10px;
  margin: 3rem auto;
  width: 500px;
  max-width: 80%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.input-group-result > label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.search {
  padding-bottom: 2rem;
}

.styled-table {
  border-collapse: collapse;
  margin: 55px 0 0 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  padding-left: 1rem;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  display: block;
}

.styled-table tbody tr:nth-of-type(even) {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


@media screen and (max-width: 992px) {
  .styled-table {
    min-width: 300px;
  }
}