html, body {min-height: 100%;}
body {
  background: url("https://images.unsplash.com/photo-1529251333259-d36cccaf22ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80") no-repeat;
  background-size: cover;
}

.cover {
  background-color: rgba(0, 0, 0, 0.616);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

form {
  background-color: white;
  border-radius: 10px;
  margin: 3rem auto;
  width: 400px;
  max-width: 60%;
  padding: 0 3rem 0 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}
.title {
  padding-bottom: 2rem;
}
form > div {
  display: flex;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
}
.input-group > label {
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: 0.7rem;
  text-align: left;
}
.submitBtnDiv {
  justify-content: flex-end;
  margin-top: 2rem;
}
.submit-btn {
  width: 10rem;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  background: #009879;
  margin: 1.2rem 0;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.input-group-result {
  background-color: white;
  border-radius: 10px;
  margin: 3rem auto;
  width: 400px;
  max-width: 60%;
  padding: 2rem 3rem 2rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.input-group-result > label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.3rem; 
  text-align: left;
}

.search {
  padding-bottom: 0.7rem;
}

.tableTitle {
  font-weight: 400;
}

.synonymInput {
  font-weight: 1000;
}

.styled-table {
  border-collapse: collapse;
  margin: 55px 0 0 0;
  font-size: 0.9em;
  font-family: sans-serif;
}

.styled-table thead tr {
  background-color: #009879;
  border: 1px solid #dddddd;
  color: white;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}
.styled-table tbody tr:not(:last-of-type) {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  display: block;
}

.exist {
  display: none;
}
.open {
  display: block;
}